/******************************
	Colors
******************************/

$light-blue: #44C1FF;
$medium-blue: #00A3F4;
$dark-blue: #007FBE;
$very-dark-blue: #000E60;

$light-grey: #737386;
$dark-grey: #1D1C36;


/******************************
	Fonts
******************************/

$very-curly-font: 'Pinyon Script', cursive;
$slightly-curly-font: 'Philosopher', sans-serif;
$not-curly-font: 'Tenor Sans', sans-serif;


/******************************
	Sizes
******************************/

$thumbnail-border-width: 0.1rem;


/******************************
	Mixins
******************************/

@mixin flexbox($justify-content, $align-items){
	display: -webkit-box !important;
	display: -moz-box !important;
	display: -ms-flexbox !important;
	display: -webkit-flex !important;
	display: flex !important;

	justify-content: $justify-content !important;
	-webkit-justify-content: $justify-content !important;

	-webkit-align-items: $align-items;
	align-items: $align-items;
}

@mixin vertical-linear-gradient($color1, $color2, $color3){
	background: $color1;
	background: -webkit-linear-gradient(left, $color1, $color2, $color3);
	background: -o-linear-gradient(bottom, $color1, $color2, $color3);
	background: -moz-linear-gradient(bottom, $color1, $color2, $color3);
	background: linear-gradient(to bottom, $color1, $color2, $color3);
}

@mixin menu-overlay($justify-content){
	position: fixed;
	top: 65px;
	left: 0;
	padding-top: 50px;
	// @include flexbox($justify-content, flex-start);
	flex-wrap: wrap;
	background-color: rgba(255,255,255,0.9);
	width: 100%;
	height: 100%;
	text-align: center;
}

@mixin text-with-backdrop(){
	margin: 0;
	padding: 0.5em;
	width: 100%;
	color: $dark-blue;
	background-color: rgba(255, 255, 255, 0.85);
}

@mixin horizontal-borders(){
	border-left: $thumbnail-border-width solid white;
	border-right: $thumbnail-border-width solid white;
}

@mixin vertical-borders(){
	border-top: $thumbnail-border-width solid white;
	border-bottom: $thumbnail-border-width solid white;
}


/******************************
	General
******************************/

* {
	box-sizing: border-box;
}

html {
	margin: 0;
}

body {
	background-color: white;
  color: $dark-grey;
	margin: 0;
	font-family: $not-curly-font;
}

.container {
	max-width: 700px;
	margin: 20px auto 50px auto;
}

a,
a:visited,
a:active,
a:focus {
	color: $medium-blue;
	text-decoration: none;
}

a:hover {
	color: $light-blue;
	text-decoration: none;
}

h3 {
	color: $light-grey;
  margin-bottom: 20px;
}


/******************************
	Header
******************************/

header {
	position: fixed;
	top: 0;
	background-color: white;
	width: 100%;
	height: 65px;
	padding: 0 20px;
	@include flexbox(space-between, center);
	z-index: 2;

	.site-name {
		font-family: $slightly-curly-font;
		font-weight: 400;
		font-size: 32px;
		background: -webkit-linear-gradient($dark-blue, $light-blue);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	.search-bar {
		@include flexbox(center, center);

		#search-bar-input {
			margin: 0 0 0 5px !important;
			width: 300px;
		}

		.search-button {
			cursor: pointer;
		}

		@media screen and (max-width: 700px){
			#search-bar-input,
			.search-icon {
				display: none;
			}
		}

		@media screen and (min-width: 700px){
			.search-button {
				display: none;
			}
		}
	}

	#hamburger {
		width: 32px;
		height: 24px;
		cursor: pointer;
		background-image: url('/hamburger_blue.png');
		background-size: 100%;
		background-repeat: no-repeat;
	}

	#hamburger:hover {
		background-image: url('hamburger_lightblue.png');
	}

	.headerButton {
		font-size: 14px;
		padding: 6px 12px;
		font-family: $not-curly-font;
	}

	.headerButton:hover {
		color: white;
	}

	.hamburger-menu {
		@include menu-overlay(center);
		flex-direction: column;

		.button {
			max-width: 300px;
			margin-bottom: 20px;
		}
	}

	#login-buttons a {
		font-size: 20px;
		cursor: pointer;
	}
}

.dropdown-search-bar {
	position: fixed;
	background-color: white;
	width: 100%;
	height: 60px;
	padding: 10px 20px 0 20px;
	z-index: 2;
}

@media screen and (min-width: 700px){
	.dropdown-search-bar {
		display: none;
	}
}

@media screen and (max-width: 700px){
	.dropdown-search-bar {
		display: block;
	}
}


/******************************
	Sign in/sign up form
******************************/

#configure-login-service-dialog {
	position: relative;
	top: 100px;
	left: 50px;
}

#login-dropdown-list {
	@include menu-overlay(center);
}

.login-text-and-button {
	color: white !important;
	font-family: $slightly-curly-font;
	font-size: 18px;
	background-color: $medium-blue;
	padding: 8px 16px;
	display: block;
	margin: 20px auto;
	border: none;
	border-radius: 2px;
	letter-spacing: 0.035em;
	text-align: center;
	cursor: pointer;
	max-width: 300px;
}

.login-text-and-button:hover {
	background-color: $light-blue;
}


/******************************
	Banners
******************************/

.banner {
	position: relative;
	margin-top: 70px;
	height: 300px;
	width: 100%;
	padding-top: 10px;
	@include flexbox(center, flex-start);
}

.banner-text {
	text-align: center;
	font-size: 46px;
	font-family: $very-curly-font;
	@include text-with-backdrop();
}

.banner-image {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-size: cover;
	background-repeat: no-repeat;
	top: 0;
	left: 0;
}

@media screen and (max-width: 700px){
	.banner {
		height: 200px;
	}

	.banner-text {
		font-size: 36px;
	}
}


/******************************
	Recipe list
******************************/

.recipe-list {
	border-top: ($thumbnail-border-width * 2) solid white;
	border-bottom: ($thumbnail-border-width * 2) solid white;
}

.thumb {
	margin: 0;
	display: inline-block;
	background-size: cover;
	background-repeat: no-repeat;
	// padding-top: 10px;

	/* size for mobile */
	width: 100%;

	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}

.thumb-text {
	@include text-with-backdrop();
}

.thumb-text p {
	margin: 0;
}

.thumb-text p.name {
	font-family: $slightly-curly-font;
	font-weight: 400;
	font-size: 20px;
}

@media screen and (min-width: 501px) {
	// only have horizontal borders if there is more than one column
	.recipe-list,
	.thumb {
		@include horizontal-borders;
	}

	.thumb {
		width: 50%;
	}
}

@media screen and (min-width: 1001px) {
	.thumb {
		width: 33.33%;
	}
}

@media screen and (min-width: 1501px) {
	.thumb {
		width: 25%;
	}
}

@media screen and (min-width: 2001px) {
	.thumb {
		width: 20%;
	}
}


/******************************
	Detailed view
******************************/

/*.additional-details {
  display: none;
}*/

.additional-details img {
	max-width: 400px;
}

#recipe-info {
	font-size: 16px;
	margin-bottom: 50px;
}

#ingredients-list {
	margin-bottom: 50px;
}

li.ingredientPic {
	list-style: none;
}

ul#ingredients-list {
	font-size: 20px;
}

ul#ingredients-list li {
	list-style: none;
}


/******************************
	Forms
******************************/

label {
	font-family: $slightly-curly-font;
	font-size: 20px;
	font-weight: 400;
}

input:not(.button),
textarea:not(.button) {
	border: none;
	border-bottom: 1px solid $light-blue;
	width: 100%;
	margin: 5px 0 25px 0;
	font-size: 16px;
	background-color: rgba(255, 255, 255, 0);
}

select {
  border: none;
  border-radius: 0;
  font-size: 14px;
  color: white;
  background-color: $medium-blue;
  display: block;
  margin: 5px 0 25px 0;
}

select:hover {
  background-color: $light-blue;
  cursor: pointer;
}

.button {
	color: white !important;
	font-family: $slightly-curly-font;
	font-size: 18px;
	background-color: $medium-blue;
	padding: 8px 16px;
	display: block;
	margin: 0 auto;
	border: none;
	border-radius: 2px;
	letter-spacing: 0.035em;
	cursor: pointer;
}

.button:hover {
	background-color: $light-blue;
}
