/******************************
	Colors
******************************/

$light-blue: #44C1FF;
$medium-blue: #00A3F4;
$dark-blue: #007FBE;

$light-grey: #737386;
$dark-grey: #1D1C36;


/******************************
	Fonts
******************************/

$very-curly-font: 'Pinyon Script', cursive;
$slightly-curly-font: 'Philosopher', sans-serif;
$not-curly-font: 'Tenor Sans', sans-serif;


/******************************
	Sizes
******************************/
$thumbnail-border-width: 0.05rem;

/******************************
	General
******************************/

* {
	box-sizing: border-box;
}

html {
	margin: 0;
}

body {
	background-color: white;
  color: $dark-grey;
	margin: 0;
	font-family: $not-curly-font;
}

.container {
	max-width: 700px;
	margin: 20px auto 50px auto;
}

a,
a:visited,
a:active,
a:focus {
	color: $medium-blue;
	text-decoration: none;
}

a:hover {
	color: $light-blue;
	text-decoration: none;
}

h3 {
	color: $light-grey;
  margin-bottom: 20px;
}


/******************************
	Header
******************************/

header {
	position: fixed;
	top: 0;
	background-color: white;
	width: 100%;
	height: 65px;
	padding: 0 20px;

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	justify-content: space-between;
	-webkit-justify-content: space-between;

	-webkit-align-items: center;
	align-items: center;
}

.site-name {
	font-family: $slightly-curly-font;
	font-weight: 400;
	font-size: 32px;
	background: -webkit-linear-gradient($dark-blue, $light-blue);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#hamburger {
	width: 32px;
	height: 24px;
	cursor: pointer;
	background-image: url('/hamburger_blue.png');
	background-size: 100%;
	background-repeat: no-repeat;
}

#hamburger:hover {
	background-image: url('hamburger_lightblue.png');
}

.headerButton {
	font-size: 14px;
	padding: 6px 12px;
	font-family: $not-curly-font;
}

.headerButton:hover {
	color: white;
}

#login-buttons a {
	font-size: 20px;
}


/******************************
	Banners
******************************/

.banner {
	color: white;
	font-size: 72px;
	font-family: $very-curly-font;
	text-align: center;

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-align-items: center;
	align-items: center;

	margin-top: 70px;
	padding: 20px;
	height: 300px;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
}

@media screen and (max-width: 700px){
	.banner {
		font-size: 44px;
		height: 200px;
	}
}


/******************************
	Recipe list
******************************/

.recipe-list {
	border-top: $thumbnail-border-width solid white;
}

.thumb-wrapper {
	margin: 0;
	display: inline-block;
	// position: relative;

	/* size for mobile */
	width: 100%;

	padding: 15px;
	padding-bottom: 5px;
	background-size: cover;
	background-repeat: no-repeat;
	opacity: 1;
	border-top: $thumbnail-border-width solid white;
	border-bottom: $thumbnail-border-width solid white;

	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}

.thumb-wrapper p {
	color: white;
	margin: 0;
}

.thumb-wrapper p.name {
	font-family: $slightly-curly-font;
	font-weight: 400;
	font-size: 20px;
}

@media screen and (min-width: 500px) {
	.thumb-wrapper {
		width: 50%;
		// padding-bottom: 50%;

		// only have side borders if there is more than one column
		border-left: $thumbnail-border-width solid white;
		border-right: $thumbnail-border-width solid white;
	}

	.recipe-list {
		// only have side borders if there is more than one column
		border-left: $thumbnail-border-width solid white;
		border-right: $thumbnail-border-width solid white;
	}
}

@media screen and (min-width: 1000px) {
	.thumb-wrapper {
		width: 33.33%;
		// padding-bottom: 33.3%;
	}
}

@media screen and (min-width: 1500px) {
	.thumb-wrapper {
		width: 25%;
		// padding-bottom: 25%;
	}
}

@media screen and (min-width: 2000px) {
	.thumb-wrapper {
		width: 20%;
		// padding-bottom: 20%;
	}
}


/******************************
	Detailed view
******************************/

.additional-details {
  display: none;
}

.additional-details img {
	max-width: 400px;
}

#recipe-info {
	font-size: 16px;
	margin-bottom: 50px;
}

#ingredients-list {
	margin-bottom: 50px;
}

li.ingredientPic {
	list-style: none;
}

ul#ingredients-list {
	font-size: 20px;
}

ul#ingredients-list li {
	list-style: none;
}


/******************************
	Forms
******************************/

label {
	font-family: $slightly-curly-font;
	font-size: 20px;
	font-weight: 400;
}

input:not(.button),
textarea:not(.button) {
	border: none;
	border-bottom: 1px solid $light-blue;
	width: 100%;
	margin: 5px 0 25px 0;
}

select {
  border: none;
  border-radius: 0;
  font-size: 14px;
  color: white;
  background-color: $medium-blue;
  display: block;
  margin: 5px 0 25px 0;
}

select:hover {
  background-color: $light-blue;
  cursor: pointer;
}

.button {
	color: white !important;
	font-family: $slightly-curly-font;
	font-size: 18px;
	background-color: $medium-blue;
	padding: 8px 16px;
	display: block;
	margin: 0 auto;
	border: none;
	border-radius: 3px;
	letter-spacing: 0.035em
}

.button:hover {
	background-color: $light-blue;
}
